//  Ryze UI
//  Alerts
//

.alert,
[class^="alert"],
[class*="alert"] {

  float: left;
  clear: both;
  width: 100%;
  padding: .75em 1em;
  margin-bottom: 1em;

  border: 1px solid lighten($night,5%);
  
  @mixin alert-theme($color) {
    border-color: lighten($color,20%);
    background-color: lighten($color,35%);
    color: darken($color,20%);
    font-size: 0.86em;
    // Paragraphs
    //
    p {
      color: darken($color,20%);
    }
    // Links
    //
    a {
      color: darken($color,10%);
      text-decoration: underline;
    }
  }
  // Themes
  //
  &.alert-success {
    @include alert-theme($green)
  }
  &.alert-info {
    @include alert-theme($blue)
  }
  &.alert-warning {
    @include alert-theme($yellow)
  }
  &.alert-danger {
    @include alert-theme($red)
  }

  // Paragraph Text
  //
  p {
    // Last Child
    //
    &:last-child {
      margin-bottom: 0;
    }
  }
}