//  Ryze UI
//  Buttons
//

a.btn,
.btn,
input[type="submit"],
button {
  display: inline-block;
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: .86em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: .86em;
  @include font-smoothing;
  border: none;
  outline: none;
  padding: 0.65em 1em 0.75em;
  color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: none; // Removes <a> text decorations
  }
}

a.btn-lg,
.btn-lg {
  font-size: 1em;
  padding: 1em 1.65em 1.05em;}

a.btn-sm,
.btn-sm,
a.btn-xs,
.btn-xs {
  font-size: .85em;
  padding: .5em 1em .6em;}

a.btn-xs,
.btn-xs {
  font-size: .65em;
  padding: .55em .75em .45em;}

// Colors
@mixin btn($btncolor){
  box-shadow: inset 0 2px 0 rgba(black,0.1);
  background: $btncolor;
  &:hover {
    background: darken($btncolor,5%);
  }
}

.btn-default { @include btn(lighten($night,10%));}
.btn-primary { @include btn($night);}
.btn-success { @include btn($green);}
.btn-info    { @include btn($blue);}
.btn-danger  { @include btn($red);}
.btn-warning { @include btn($yellow);}

// Social
//

$facebook:    #3c689f; // facebook
$twitter:     #3b89b1; // twitter
$googleplus:  #d16847; // googleplus
$vimeo:       #3580c5; // vimeo
$spotify:     #5ea240; // spotify
$dribbble:    #d14788; // dribbble
$soundcloud:  #e89b49; // soundcloud
$skype:       #369cc6; // skype
$youtube:     #d14747; // youtube
$steam:       #444444; // steam
$pinterest:   #dc3d5f; // pinterest
$linkedin:    #558ec9; // linkedin
$twitch:      #6441a5; // twitch

.btn-social-facebook   { @include btn($facebook);}
.btn-social-twitter    { @include btn($twitter);}
.btn-social-googleplus { @include btn($googleplus);}
.btn-social-vimeo      { @include btn($vimeo);}
.btn-social-spotify    { @include btn($spotify);}
.btn-social-dribbble   { @include btn($dribbble);}
.btn-social-soundcloud { @include btn($soundcloud);}
.btn-social-skype      { @include btn($skype);}
.btn-social-youtube    { @include btn($youtube);}
.btn-social-steam      { @include btn($steam);}
.btn-social-pinterest  { @include btn($pinterest);}
.btn-social-linkedin   { @include btn($linkedin);}
.btn-social-twitch     { @include btn($twitch);}

[class*="btn-social-"],
a[class*="btn-social-"],
input[class*="btn-social-"],
button[class*="btn-social-"] {
  padding: 0.65em 1em 0.75em;
  font-size: 16px;
  padding: .9em 1em;
  color: #fff;
  // Large
  &.btn-lg {
    font-size: 20px;
    padding: 1em 1em 1.05em;
  }
  // Small
  &.btn-sm {
    font-size: 16px;
    padding: .5em;
  }
  // Extra Small
  &.btn-xs {
    font-size: 16px;
    padding: .4em;
  }
}