//  Ryze UI
//  NavBars
//

.nav-bar {
  float: left;
  width: 100%;
  height: auto;
  background: #3a3a3a;

  nav, ul, li {
    margin: 0;
    padding: 0;
  }

  > div {
    position: relative;
  }

  // Navbar Header
  //
  .nav-header {
    float: left;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    // Name
    //
    a.name {
      flex: 1;
      padding: 0em .65em;
      font-size: .85em;
      font-weight: 700;
      color: #fff;
      span {
        line-height: 1em;
      }
    }
  }

  // Inline Navbar
  //
  &.nav-inline {
    li {
      position: relative;
      display: inline;
      margin: 0 2px;
      a {
        display: inline-block;
        padding: 1em .65em;
        font-size: .85em;
        color: #fff;
        &:hover {
          background: rgba(0,0,0,0.2);
        }
      }
    }
  }
  
  // Pull Navigations
  //
  @mixin pull($lr) {
    &.pull-#{$lr} {
      ul {
        float: $lr;
      }
    }
  }
  
  // Pull Navs
  //
  @include pull(left);
  @include pull(right);

}