//  Ryze UI
//  NavBars
//

.nav-side {
  float: left;
  width: 100%;
  background: #fafafa;
  padding: 32px 20px;

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;

    // Headings
    //
    &.heading {
      // color: $blue;
      font-size: 0.77778em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 4px 0;
    }

    // Divider
    //
    &.divider {
      margin: 16px 0;
      padding: 0; 
      height: 0;
      border-top: 1px solid #e6e6e6;
    }

    // Links
    //
    a {
      font-size: 0.8899em;
      display: block;
      line-height: 26px;
      // Hover & Active
      //
      &:hover {
        margin: 0 -20px;
        padding-left: 20px;
        padding-right: 20px;
        background: rgba(0,0,0,.03);
      }
      // Active
      //
      &.active {
        font-weight: bold;
      }
    }
  }

}