//  Ryze UI
//  Typography
//

// Links
//
a,
a:link,
a:active {
  color: $blue;
  text-decoration: none;
  // Hover
  //
  &:hover {
    text-decoration: underline;
  }
  // Visited
  &:visited {
    color: $blue;
  }
}

// Headings
//
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: 700;
  @include font-smoothing;
  line-height: 1.4em;
  margin: 0 0 .55em 0;
  color: lighten($night,10%);

  // Secondary Text
  //
  small {
    color: #999;
  }

  // Heading Blocks
  //
  &.heading {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
  }
}

@mixin heading-text($ht-size) {
  font-size: $ht-size;
  small {
    @if $ht-size <= 20px { // Increase legibility for smaller text
      font-size: $ht-size / 1.25;
    } @else {
      font-size: $ht-size / 1.45;
    }
  }
}

h1 { @include heading-text(36px);}
h2 { @include heading-text(28px);}
h3 { @include heading-text(22px);}
h4 { @include heading-text(18px);}
h5 { @include heading-text(16px);}

// Copy
//
p {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  @include font-smoothing;
  color: lighten($night,10%);
  margin: 0 0 .666em 0;

  // Lead Copy
  //
  &.lead {
    font-size: 1.333em;
    color: lighten($night,30%);

    // Immediate Following Paragraph
    //
    + p {
      margin-top: 1.3em;
    }
  }

  // Small Text
  //
  small {
    font-weight: bold;
  }

  // Code Inline
  //
  code {
    padding: 3px;
    background: #f8f8f8;
    border-radius: 3px;
  }
}

// All Lists
//
ul, ol, dl {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  @include font-smoothing;
  color: lighten($night,10%);
  list-style-position: inside;
  font-size: 1em;
  line-height: 1.4em;
}

// Definition Lists
//
dl {
  font-size: 0.9em;
  dt {
    font-weight: 700;
  }
  dd {
    padding: 0;
    margin: 0 0 .5em 0;
  }
}

// Inline Lists
//
ul, ol {
  &.inline {
    li {
      float: left;
      display: inline-block;
      margin: 0 10px 0 0;
      // Last Child
      //
      &:last-child {
        margin-right: 0px;
      }
    }
    // Pull Right
    //
    &.pull-right {
      float: right;
    }
  }
}

// Abbreviations
//
abbr {
  cursor: help;
}

// Blockquotes
//
blockquote {
  border-left: 3px solid $blue;
  padding: 1em;
  margin: .2em 0;
  font-family: inherit;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  color: #777;
  // Cite
  //
  cite {
    font-size: 0.9em;
    display: block;
    clear: both;
    // Before
    //
    &:before {
      content: "\2014 \0020";
    }
  }
}

// Labels
//
span.label {
  font-size: 0.7em;
  padding: .15em .5em;
  background: lighten($night,10%);
  border-radius: 3px;
  color: #fff;
  // Colors
  //
  &.label-primary { background: $night;}
  &.label-success { background: $green;}
  &.label-info    { background: $blue;}
  &.label-danger  { background: $red;}
  &.label-warning { background: $yellow;}
}

// Horizontal Rules
//
hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 2.222em 0 2.444em; 
}

// Code
//
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .8em;
  color: $red;
}

// User Input
//
kbd {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .8em;
  color: $blue;
  padding: 3px 6px;
  background: $night;
  border-radius: 3px;
}